{% extends 'home.html'%} {% block content%} {%block jumb%} {{ block.super }} {% block jumb_content%}
<h1>Fale Conosco</h1>
<p>Siga-nos em nossas Redes Sociais</p>
{%endblock%} {%endblock%}
<div class="container pt-5">
    <div class="">
        <div class="">
            <h1 class="h1 text-center">Fale conosco</h1>

            <p class="justify-content-end">Você pode entrar em contato conosco tanto por e-mail como pelas redes socias, abaixo seguem os links para contato
            </p>
            <h4>Links</h4>
            <ul>
                <li>E-mail:
                    <a href="mailto:gilbertomorais@morais.com">gilbertomorais@morais.com</a>
                </li>
                <li>Instagram
                    <a href=""> <i class="fa fa-instagram" aria-hidden="true"></i> </a>
                </li>
            </ul>
        </div>
    </div>
</div>
{%endblock%}